*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/* ============================================
   SIDE MENU - CLEAN & MODERN DESIGN
   ============================================ */


/* ============================================
   FOOTER STYLES - BLACK & WHITE DESIGN
   ============================================ */

