
#desktop-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#side-menu {
  z-index: 500;
}

#bottom-nav {
  z-index: 800;
}

/* Add top padding to ALL page content */
.page-wrap {
  padding-top:62.5px;
}

@media (min-width: 1024px) {
  .page-header {
    display: none;
  }


  .adminuiux-content {
    padding-top: 0; 
  }

  #desktop-nav {
    /* position: sticky; */
    top: 0;
    z-index: 100;
  }

  #side-menu {
    z-index: 99;
  }

  #features {
    margin-top: 70px;
  }

  .content-card {
    max-width: 900px;
    margin: 100px auto;
  }
  
  .content-section {
    padding: 40px 48px;
  }

  .form-group-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 16px;
  }
  
  .form-group-row .form-group {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  #mobile-nav {
    display: none !important;
  }
  
  .page-header {
    display: none !important;
  }
  
  #desktop-nav {
    display: block !important;
  }
}
