* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  color: #252a2d;
  font-family: Roboto-flex, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  background: #f5f5f5;
}



.adminuiux-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-top: 105px; 
}

.adminuiux-content {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.ad-sidebar-left::-webkit-scrollbar {
  display: none;
}

.ad-sidebar-right::-webkit-scrollbar {
  display: none;
}



@media (min-width: 1400px) {
  .adminuiux-wrap {
    display: block;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 105px; 
  }

 
  .ad-sidebar-left {
    display: block !important;
    position: fixed;
    left: 0;
    top: 105px; 
    width: 300px;
    height: calc(100vh - 105px);
    overflow-y: auto;
    z-index: 50;
  }

  .adminuiux-content {
    width: calc(100% - 950px); 
    margin-left: 300px;
    margin-right: 650px; 
    margin-top: 0;
    padding: 0px;
    overflow-y: auto;
    min-height: calc(100vh - 105px);
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
  }

  .sidebar-right {
    display: block !important;
    position: fixed;
    right: 300px; 
    top: 105px; 
    width: 350px;
    height: calc(100vh - 105px);
    overflow-y:auto;
    z-index: 50;
    background: #fff;
    border-right: 1px solid #e0e0e0;

  }


  .ad-sidebar-right {
    display: block !important;
    position: fixed;
    right: 0;
    top: 105px; 
    width: 300px;
    height: calc(100vh - 105px);
    overflow-y: auto;
    z-index: 50;
  }
}


@media (min-width: 1200px) and (max-width: 1399px) {
  .adminuiux-wrap {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 105px;
  }

  .adminuiux-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .ad-sidebar-left,
  .ad-sidebar-right {
    display: none !important;
  }
}


@media (min-width: 992px) and (max-width: 1199px) {
  .adminuiux-wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 105px;
  }

  .adminuiux-content {
    max-width: 100%;
    padding: 20px;
  }

  .ad-sidebar-left,
  .ad-sidebar-right {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .adminuiux-wrap {
    padding-top: 99px; 
  }

  .ad-sidebar-left,
  .ad-sidebar-right {
    display: none !important;
  }

  .adminuiux-content {
    max-width: 100%;
    /* padding: 15px; */
  }
}


@media (max-width: 768px) {
  .adminuiux-wrap {
    padding-top: 99px; 
  }

  .adminuiux-content {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .adminuiux-wrap {
    padding-top: 92px; 
  }
}


.ad-sidebar-left,
.ad-sidebar-right {
  display: none; 
  background: #ffffff;
  margin: 0;
}

.ad-container {
  border: 2px dashed #d1d5db;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

.ad-container.large {
  min-height: 600px;
}

.ad-container.medium {
  min-height: 400px;
}

.ad-container.small {
  min-height: 250px;
}

.ad-placeholder {
  color: #6b7280;
  font-size: 14px;
  font-weight: 500;
}

.ad-placeholder svg {
  width: 48px;
  height: 48px;
  margin-bottom: 12px;
  opacity: 0.5;
}

.wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 992px) {

}

html {
  scroll-behavior: smooth;
}

