*{
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    overflow-y: hidden;
    scrollbar-width;
    width: 100%;
    -ms-overflow-style: none;
    color: #252a2d;
    font-family: Roboto-flex, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.4;
}


/* ============================================
   SIDE MENU - CLEAN & MODERN DESIGN
   ============================================ */


/* ============================================
   FOOTER STYLES - BLACK & WHITE DESIGN
   ============================================ */

