* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  color: #252a2d;
  font-family: Roboto-flex, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  background: #f5f5f5;
}



/* ============================================
   Desktop Navigation
   ============================================ */


/* ============================================
   SIDE MENU 
   ============================================ */


/* ============================================
   FOOTER 
   ============================================ */

