.top {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  margin-bottom: 15px;
}

.top-item {
  padding: 10px 14px;
  white-space: nowrap;
  border-right: 1px solid black;
}

.top .active {
  font-weight: bold;
}

/* SPORTS TABS */
.sports-tabs {
  display: flex;
  flex: 1;
  overflow-x: auto;

  gap: 8px;
  padding: 10px;
  cursor: pointer;
}

.sport {
  padding: 6px 10px;
  border: 1px solid black;
  border-radius: 5px;
  white-space: nowrap;
}

.sport.active {
  font-weight: bold;
  color: white;
  background-color: black;
}

/* SEARCH */
.search-bar {
  display: flex;
  gap: 8px;
  padding: 10px;
}

.search-bar input {
  flex: 1;
  padding: 8px;
  border: 1px solid black;
}

.search-bar button {
  border: 1px solid black;
  padding: 8px 12px;
  background: white;
}

/* MARKETS */
.markets {
  display: flex;
  flex: 1;
  gap: 8px;
  padding: 10px;
  overflow-x: auto;
}

.markets button {
  padding: 6px 10px;
  border: 1px solid black;
  background: white;
  border-radius: 5px;
  white-space: nowrap;
}

.markets .active {
  font-weight: bold;
  color: white;
  background: black;
}

/* Market Info */
.match-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background: rgba(128, 128, 128, 0.127);
}

.date {
  font-weight: 600;
  font-size: 14px;
}

.selected-market {
  display: flex;
  gap: 4px;
}

.selected-market div {
  width: 50px;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  padding: 4px;
}

/* MATCHES */
.matches {
  padding: 0px;
}

.match-meta {
  display: flex;
  padding: 12px;
  justify-content: start;
  gap: 8px;
  font-size: 10px;
  color: #666;
}

.match {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 12px;
  padding: 14px 16px;
  border-bottom: 1px solid #e0e0e09b;
  transition: background 0.2s;
}

.match:hover {
  background: #fafafa;
}

.match-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 6px;
}

.teams {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.teams span {
  font-size: 14px;
  font-weight: 500px;
  color: #333;
}


.match-icons {
  display: flex;
  gap: 6px;
  margin-top: 4px;
}

.match-icon {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 15px;
}

.icon-stats {
  /* background: #666; */
  color: black;
  cursor: pointer;
}

.icon-stream {
  background: black;
  color: white;
}

.badge {
  padding: 2px 6px;
  border: 1px solid black;
  font-size: 11px;
  font-weight: bold;
}

.badge-hot {
  background: black;
  color: white;
}

.badge-best {
  background: white;
  color: black;
}

.more {
  font-size: 12px;
  cursor: pointer;
}

.odds {
  display: flex;
  gap: 6px;
  align-items: center;
}

.odds div {
  border: 1px solid #333;
  padding: 10px 8px;
  min-width: 50px;
  text-align: center;
  border-radius: 4px;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s;
}

.odds div:hover {
  background: #000;
  color: white;
}

.odds div.best-odd {
  background: black;
  border-color: black;
  color: white;
}

.open-single {
    cursor: pointer;
}


@media (max-width: 480px) {
  .container {
    border-radius: 0;
  }

  body {
    padding: 0;
  }

  .odds div {
    min-width: 45px;
    padding: 8px 6px;
    font-size: 12px;
  }
}
